
body {
  font-family: 'Poppins', sans-serif !important;
  font-family: 'Roboto', sans-serif;
  font-family: 'Roboto Slab', serif;
  text-align: center;
  color: black;
  margin: 0 0 30px;
  /* bottom = footer height */

}

html {
  position: relative;
  min-height: 100%;
}

footer {
  background-color: #c5e1a5;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100px;
  width: 100%;
  overflow: hidden;
}

.copyright {
  padding-top: 30px;
  padding: 10px;
 
}

.links {
  padding: 10px;

}

.github-logo{
  width: 40px;
  height: 40px;
}
