
body {
  font-family: 'Poppins', sans-serif !important;
  font-family: 'Roboto', sans-serif;
  font-family: 'Roboto Slab', serif;
  text-align: center;
  color: black;
  margin: 0 0 120px;
  /* bottom = footer height */
}

html {
  position: relative;
  min-height: 100%;
}

footer {
  background-color: #c5e1a5;
  position: fixed;
  left: 0;
  bottom: 0;
  height: 60px;
  width: 100%;
  overflow: hidden;
}

.copyright {
  padding-top: 10px;
  color: gray;
}

.links {
  padding: 5px;

}

.github-logo{
  width: 25px;
  height: 25px;
}
.title{
  padding: 0px 20x 0px 20px;
  color: #3b4754;
}
.search-box{
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0 auto;
}

.navigation-bar{
  background-color: white;
}
.search-wrapper{
  background-color: #c5e1a5;
  padding: 10px 40px 10px 20px;
  margin-bottom: 20px;
}

.sub-title{
  color: #3b4754;
}


.search-result-wrapper{
  padding: 40px 20px;
}