
body {
  font-family: 'Poppins', sans-serif !important;
  font-family: 'Roboto', sans-serif;
  font-family: 'Roboto Slab', serif;
  text-align: center;
  color: black;
  margin: 0 0 120px;
  /* bottom = footer height */
}

html {
  position: relative;
  min-height: 100%;
}

footer {
  margin-top: 20px;
  box-shadow: -1px 7px 10px 4px #000000;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 120px;
  width: 100%;
  overflow: hidden;
}


.copyright {
  margin-top: 25px;
  color: gray;
}

.links {
  margin-top: 20px;

}

.github-logo{
  width: 25px;
  height: 25px;
}
.title{
  margin: 30px 20px 30px 20px;
}

.sub-title{
  margin-bottom: 30px;
}
.search-box{
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0 auto;
}

.navigation-bar{
  background-color: white;
}
.search-wrapper{
  background-color: #c5e1a5;
  padding: 10px 40px 10px 20px;
  margin-bottom: 20px;
}

.search-result-wrapper{
  padding: 40px 0;
}

.map{
  width: 100%;
  height: 600px;
  position: relative;
  display:block;
  margin: 30px 0 30px 0;
}

.comment{
  padding: 10px;
  border-radius: 7px;
  background: #f2f2f2;
}
.reservation-comp{
  padding: 10px;
  border-radius: 7px;
  background: #f7f7f7;
  box-shadow:  8px 8px 24px #d0d0d0,
  -8px -8px 24px #f0f0f0;
  margin:50px 0px 50px 0px;
}

.comment-section{
  padding: 10px 20px;
  border-radius: 7px;
  background: #f7f7f7;
  box-shadow:  8px 8px 24px #d0d0d0,
  -8px -8px 24px #f0f0f0;
}

.picture-wrapper{
  padding: 20px 20px;
  border-radius: 7px;
  background: #f7f7f7;
  box-shadow:  8px 8px 24px #d0d0d0,
  -8px -8px 24px #f0f0f0;
}


.restaurant-infos{
  padding: 20px 20px;
  border-radius: 7px;
  background: #f7f7f7;
  box-shadow:  8px 8px 24px #d0d0d0,
  -8px -8px 24px #f0f0f0;
  margin:50px 0px 50px 0px;
}


.title-wrapper{
  background-color: #c5e1a5;
  padding: 20px 20px;
  border-radius: 7px;
  box-shadow:  8px 8px 24px #d0d0d0,
  -8px -8px 24px #f0f0f0;
  margin:50px 0px 50px 0px;
}

.input-reservate{
  margin: 20px auto;
  width: 300px;
}

.test-map{
  width: 100%;
}



.content{
  padding-bottom: 80px;
}

.map-container{
    width: 100%;
    height: 100vh;
}

.search-button{
  margin-top: 20px;
}

.tables-wrapper{
  width: 240px;
  margin-left: 30px;
  margin-right: 30px;
  margin: 0 auto;
  padding: 10px; 
  border-radius: 10px;
  border-color: rgb(134, 134, 134);
  border-width: 2px;
  border-style: solid;
}

.tableStyleAvailable{
  padding: 2px;
  border-radius: 5px;
  border-color: green;
  border-width: 2px;
  border-style: solid;
}

.tableStyleNonavailable{
  padding: 2px;
  border-radius: 5px;
  border-color: red;
  background-color: #ffaeae;
  border-width: 2px;
  border-style: solid;
}